#titleTwo{
  font-family: fantasy;
  font-size: 18px;
}

#author{
  font-family: fantasy;
  font-size: 14px;
}

#description{
  font-family: fantasy;
  font-size: 14px;
}

#url{
  font-family: fantasy;
  font-size: 12px;
}
