body{
    background-attachment: fixed;
    background-size:cover;
    background-image: url("https://previews.123rf.com/images/casaalmare/casaalmare0903/casaalmare090300026/4471946-latest-top-news-on-a-newspaper-page-not-trade-marks-Stock-Photo.jpg");
   
}
#newsSite {
    background-color: white;
    width: 900px;
    margin: auto;
    margin-top: 0px;
    border: 1px solid black;
}

#header{
    margin: auto;
    height: 150px;
    text-align: center;   
}

#title{
    font-size: 100px;
    margin: 0px;
}

#menu {
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    background-color: #000000;   
}

.menuItem {
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;   
}


#wrap-content{
    margin: auto;
    height: 480px;
    width: 890px;
    overflow: auto;
}

.text {
    
}

.content {
    margin: auto;
    margin-top: 20px;
    width: 600px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;  
}

#footer {
    margin: auto;
    text-align: center;
}


/*******SCROLLL*****/

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #a2a2a2;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #080808;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #bcbcbc;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}





/* --- NÖJE --- */

#titleTwo{
  font-family: fantasy;
  font-size: 18px;
}

#author{
  font-family: fantasy;
  font-size: 14px;
}

#description{
  font-family: fantasy;
  font-size: 14px;
}

#url{
  font-family: fantasy;
  font-size: 12px;
}
